<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Dealer</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    
    <h2>Hello!</h2>

    <h3>Update Dealer</h3>
    <form th:action="@{/dealer/update}" th:object="${dealer}" method="POST">
        <input type="hidden" name="id" th:value="${dealer.id}"/>
        Alamat: <br>
        <input type="text" name="alamat" th:value="${dealer.alamat}"/>
        <br>
        No. Telp: <br>
        <input type="text" name="noTelp" th:value="${dealer.noTelp}"/>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>